@model BanknoteStorage_MVC.Models.Banknote

@{
    ViewBag.Title = "Get banknotes by count";
}

@using (Html.BeginForm())
{
    <div>
        <h2>Get banknotes by count</h2>
    </div>

    <div>
        @Html.TextBoxFor(m => m.Count)
        <input type="submit" value="Get banknotes" />
        <br />
        @Html.ActionLink("Back to Main page", "Index")
    </div>
}
